* {
    margin: 0px;
}

:root {
    --main-bg-color: #c0c0c0;
}

#game {
    background-color: var(--main-bg-color);
    padding: 2px;
    border-style: outset;
}

#game_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    background-color: var(--main-bg-color);
    border-style: inset;
}

#game_mine_field{
    display: grid;
    
}