[Desktop Entry]
Name=qpwgraph
Version=1.0
GenericName=PipeWire Graph/Patchbay
Comment=qpwgraph is a PipeWire graph Qt GUI interface
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=qpwgraph --file-forwarding org.rncbc.qpwgraph -m @@ %f @@
Icon=org.rncbc.qpwgraph
Categories=AudioVideo;Audio;Video;Midi;X-Alsa;X-PipeWire;Qt;
MimeType=application/x-qpwgraph-patchbay;
Keywords=PipeWire;MIDI;ALSA;JACK;Qt;
Terminal=false
Type=Application
X-Flatpak=org.rncbc.qpwgraph
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=qpwgraph
Comment[en_US]=qpwgraph is a PipeWire graph Qt GUI interface
X-GNOME-Autostart-Delay=20
