/* import color theme */
@import "colors/gruvbox.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: hack, monospace;
    font-size: 16px;
}

#window{
    background: @color-bg;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}

/*----------Waybar Window------------*/
window#waybar {
    background: alpha(@color-bg, 0.7);
}

.module {
    padding: 0 0.5em;   
    padding-right: 0.7em;
    border-radius: 24px 10px 24px 10px;
    color: @color-fg;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
button {
    color: inherit;
    border: none;
    border-radius: 0;
}

tooltip {
    background: alpha(@color-bg, 1.0);
    border: 2px @color-fg;
    border-radius: 24px 10px 24px 10px;
}


/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    color: @color-blue; 
    box-shadow: none;
}

#submap {
    background-color: @color-yellow;
} 

#workspaces button {
    font-weight: bold;
    border-radius: 16px;
    padding: 0 0.5em;
}

#workspaces button.active {
    color: @color-green;
}

#workspaces button.empty {
    font-weight: normal;
    color: @color-bg3; 
}

#workspaces button.urgent{
    background-color: @color-red;
}

#tray {
    background-color: @color-gray;
}

#pulseaudio {
    background-color: @color-purple;
}

#clock {
    background-color: @color-green;
}

#battery{
    background-color: @color-aqua;
    border-right: 2px solid @color-aqua;
}
#battery.warning{
    background-color: @color-red;
    border-right: 2px solid @color-aqua;
}
#backlight {
    background-color: @color-yellow;
}
#power-profiles-daemon {
    background-color: @color-aqua;
}

#bluetooth {
    background-color: @color-blue;
}
#rf {
    background-color: @color-blue;
    border-radius: 24px 10px 24px 10px;
}
#idle_inhibitor {
    background-color: @color-blue;
}
#custom-caps {
  background-color: @color-purple;
}
