/* color vars */
@define-color color-bg #282828; /* color: 0 */
@define-color color-bg1 #3c3836;
@define-color color-bg2 #504945;
@define-color color-bg3 #665c54;
@define-color color-bg4 #7c6f64;

@define-color color-fg #ebdbb2; /* color: 15 */

@define-color color-red #cc241d; /* color: 1 */
@define-color color-green #98971a; /* color: 2 */
@define-color color-yellow #d79921; /* color: 3 */
@define-color color-blue #458588; /* color: 4 */
@define-color color-purple #b16286; /* color: 5 */
@define-color color-aqua #689d6a; /* color: 6 */
@define-color color-gray #a89984; /* color: 7 */
@define-color color-orange #d65d0e;

@define-color color-red1 #fb4934; /* color: 9 */
@define-color color-green1 #b8bb25; /* color: 10 */
@define-color color-yellow1 #fadb2f; /* color: 11 */
@define-color color-blue1 #83a598; /* color: 12 */
@define-color color-purple1 #d3869b; /* color: 13 */
@define-color color-aqua1 #8ec07c; /* color: 14 */
@define-color color-gray1 #928374; /* color: 8 */

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: hack, monospace;
    font-size: 16px;
}

#window{
    background: @color-bg;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}

/*----------Waybar Window------------*/
window#waybar {
    background: alpha(@color-bg, 0.7);
}

.module {
    padding: 0 0.5em;   
    padding-right: 0.7em;
    border-radius: 24px 10px 24px 10px;
    color: @color-fg;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
button {
    color: inherit;
    border: none;
    border-radius: 0;
}

tooltip {
    background: alpha(@color-bg, 1.0);
    border: 2px @color-fg;
    border-radius: 24px 10px 24px 10px;
}


/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    color: @color-blue; 
    box-shadow: none;
}

#submap {
    background-color: @color-yellow;
} 

#workspaces button {
    font-weight: bold;
    border-radius: 16px;
    padding: 0 0.5em;
}

#workspaces button.active {
    color: @color-green;
}

#workspaces button.empty {
    font-weight: normal;
    color: @color-bg3; 
}

#workspaces button.urgent{
    background-color: @color-red;
}

#tray {
    background-color: @color-gray;
}

#pulseaudio {
    background-color: @color-purple;
}

#clock {
    background-color: @color-green;
}

#battery{
    background-color: @color-aqua;
    border-right: 2px solid @color-aqua1;
}
#battery.warning{
    background-color: @color-red;
    border-right: 2px solid @color-aqua1;
}
#backlight {
    background-color: @color-yellow;
}
#power-profiles-daemon {
    background-color: @color-aqua;
}

#bluetooth {
    background-color: @color-blue;
}
#rf {
    background-color: @color-blue;
    border-radius: 24px 10px 24px 10px;
}
#idle_inhibitor {
    background-color: @color-blue;
}
