// my config for rofi
// start command: rofi -show combi

configuration {
    modi: "window,drun,combi";
    combi-modi: "window,drun";
    icon-theme: "Mint-Y-Dark";
    show-icons: true;
    }

@theme "/usr/share/rofi/themes/android_notification.rasi"
