# /lib/systemd/system/cloudflared.service
[Unit]
Description=Cloudflared access tunnel for remote file share
Requires=graphical.target
After=network-online.target

[Service]
Type=simple
User=qbyte
ExecStart=/usr/local/bin/cloudflared access tcp --hostname smb.qbyteapp.net --url localhost:8445
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
