# /lib/systemd/system/cloudflared.service
[Unit]
Description=cloudflared access tunnel for remote file share
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=berend
ExecStart=/usr/local/bin/cloudflared access tcp --hostname smb.broodjehamworst.net --url localhost:8445
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
