[Unit]
Description=Mount of /media/qbyte/smb network share
Requires=cloudflared.service
After=network-online.service

[Automount]
What=//localhost/main/berend
Where=/media/qbyte/smb
Options=credentials=/home/qbyte/.smb,iocharset=utf8,vers=3.0,port=8445,noperm,_netdev
Type=cifs

[Install]
WantedBy=multi-user.target

