/* de volgende code is nodig voor het stylen van het tictactoe bord*/
table.tictactoe {
    border-collapse: collapse;
    margin: 10px;
}

th {
    border-style: solid;

    /* de width en height van de th base heeft invloed op de grotte van de gehele tabel */
    width: 150px;
    height: 150px;
}

/* css voor de 1ste rij */
th.topLeft {
    border-color: white black black white;
}

th.topMiddle {
    border-top-color: white;
}

th.topRight {
    border-color: white white black black;
}

/* css voor de 2de rij */
th.centerLeft {
    border-left-color: white;
}

th.centerRight {
    border-right-color: white;
}

/* css voor de 3de rij */
th.bottomLeft {
    border-color: black black white white;
}

th.bottomMiddle {
    border-bottom-color: white;
}

th.bottomRight {
    border-color: black white white black;
}

/* css voor het cirkel teken */
#circle {
    position: relative;
    width: inherit;
    height: inherit;
    margin: 10px;
    border: 20px solid blue;
    border-radius: 50%;
}

/* css voor het cross teken */
#cross {
    width: inherit;
    height: inherit;
    position: relative;
    margin: 10px;
}

#cross::after {
    content: ' ';
    height: inherit;
    border-left: 20px solid red;
    position: absolute;
    transform: rotate(45deg);
}

#cross::before {
    content: ' ';
    height: inherit;
    border-left: 20px solid red;
    position: absolute;
    transform: rotate(-45deg);
}

/* de volgende css is voor de button */
.tictactoe button {
    width: inherit;
    height: inherit;
    margin: 10px;
    background-color: white;
    border: none;
}

.tictactoe button:hover {
    border-color: gray;
    border: solid;
    transition: 0.3s;
}