/* css voor de game board */
.game-grid {
	margin: 10px;
	display: inline-grid;
	grid-template-columns: auto auto auto;
	column-gap: 0px;
	row-gap: 0px;
}

.game-gridBox {
	height: 200px;
	width: 200px;
	align-items: center;
	padding: 5px;
}

/* css voor de grid tekenen */
.game-gridBox#pos\:0\,0 {
	border-right: solid;
	border-bottom: solid;
}

.game-gridBox#pos\:1\,0 {
	border-bottom: solid;
}

.game-gridBox#pos\:2\,0 {
	border-bottom: solid;
	border-left: solid;
}

.game-gridBox#pos\:0\,1 {
	border-right: solid;
}

.game-gridBox#pos\:2\,1 {
	border-left: solid;
}

.game-gridBox#pos\:0\,2 {
	border-top: solid;
	border-right: solid;
}

.game-gridBox#pos\:1\,2 {
	border-top: solid;
}

.game-gridBox#pos\:2\,2 {
	border-top: solid;
	border-left: solid;
}

/* css voor het cirkel teken */
icon-game-circle {
	width: 200px;
	height: 200px;
	border: 20px solid blue;
	border-radius: 50%;
}

/* css voor het cross teken */
icon-game-cross {
    width: inherit;
    height: inherit;
    position: relative;
}

icon-game-cross:before {
    content: ' ';
    height: inherit;
	width: 20px;
	background-color: red;
	position: absolute;
    transform: rotate(45deg);
	left: 86px;
}

icon-game-cross:after {
	content: ' ';
	height: inherit;
	width: 20px;
	background-color: red;
	position: absolute;
	transform: rotate(-45deg);
	left: 86px;
}

/* de volgende css is voor de button */
button.game-button {
	width: inherit;
	height: inherit;
	content: ' ';
	background-color: var(--main-background-color);
	border: none;
}

button.game-button:hover {
	border: 2px solid purple;
}