* {
    margin: 0px;
    padding: 0px;
}

.game {
    background-color: grey;
    width: 100px
}

game-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: inherit;
}